/* Write your CSS here */
.course-timeline-card-section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.course-timeline-card-section1-h {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 30px;
  font-style: 600;
}

.course-timeline-card-section1-p {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: 500;
}

.course-timeline-card-section1-p-icon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.course-timeline-card-section2-p {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: 500;
}

.course-timeline-card-section2-ul-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  flex-wrap: wrap;
}

.course-timeline-card-section2-tag {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: 600;
  font-weight: 600;
  background-color: #bbd2f6;
  margin: 10px;
  padding: 5px;
  border-radius: 2px;
}
